In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

['NOTEEVENTS.csv', 'PATIENTS.csv', 'PRESCRIPTIONS.csv']

In [2]:
note_df=pd.read_csv('../input/NOTEEVENTS.csv',low_memory=False)
note_df.head()

   ROW_ID                        ...                                                                       TEXT
0     174                        ...                          Admission Date:  [**2151-7-16**]       Dischar...
1     175                        ...                          Admission Date:  [**2118-6-2**]       Discharg...
2     176                        ...                          Admission Date:  [**2119-5-4**]              D...
3     177                        ...                          Admission Date:  [**2124-7-21**]              ...
4     178                        ...                          Admission Date:  [**2162-3-3**]              D...

[5 rows x 11 columns]

In [3]:
print("Total no. of rows in this csv:{}".format(note_df.shape[0]))
print("Different types of category in this csv are:\n{}".format(note_df.CATEGORY.value_counts()))
print("Different types of description in this csv are:\n{}".format(note_df.DESCRIPTION.value_counts()))
print("Unique patient ids and their number of arrivals to the hospital are:\n{}".format(note_df.SUBJECT_ID.value_counts()))

Total no. of rows in this csv:2083180
Different types of category in this csv are:
Nursing/other        822497
Radiology            522279
Nursing              223556
ECG                  209051
Physician            141624
Discharge summary     59652
Echo                  45794
Respiratory           31739
Nutrition              9418
General                8301
Rehab Services         5431
Social Work            2670
Case Management         967
Pharmacy                103
Consult                  98
Name: CATEGORY, dtype: int64
Different types of description in this csv are:
Report                                             1132519
Nursing Progress Note                               191836
CHEST (PORTABLE AP)                                 169270
Physician Resident Progress Note                     62698
CHEST (PA & LAT)                                     43158
CT HEAD W/O CONTRAST                                 34485
Respiratory Care Shift Note                          31105
Nursing Transfer Note                                30773
Intensivist Note                                     26144
CHEST PORT. LINE PLACEMENT                           21596
Physician Attending Progress Note                    21023
Physician Resident Admission Note                    10654
Clinical Nutrition Note                               9395
PORTABLE ABDOMEN                                      8143
CHEST (PRE-OP PA & LAT)                               8064
CT CHEST W/CONTRAST                                   8001
CT ABDOMEN W/CONTRAST                                 7304
MR HEAD W & W/O CONTRAST                              7062
CT CHEST W/O CONTRAST                                 6745
Generic Note                                          6649
CT C-SPINE W/O CONTRAST                               4840
CT ABDOMEN W/O CONTRAST                               4823
LIVER OR GALLBLADDER US (SINGLE ORGAN)                4761
ICU Note - CVI                                        4503
CTA CHEST W&W/O C&RECONS, NON-CORONARY                4499
Addendum                                              4476
ABDOMEN (SUPINE & ERECT)                              4462
BABYGRAM (CHEST ONLY)                                 4412
MR HEAD W/O CONTRAST                                  3603
BILAT LOWER EXT VEINS                                 3443
                                                    ...
MDI''S                                                   1
Gentamcin in HD                                          1
Resident Death Note                                      1
Medical Student/Attending Admission Note - MICU          1
OL SHOULDER 1 VIEW IN O.R. LEFT                          1
RP BABYGRAM CHEST DECUB ONLY (71035) RIGHT PORT          1
Resp.care extubation note                                1
OPR HEEL (AXIAL & LATERAL) IN O.R. PORT RIGHT            1
GUIDANCE FOR AMNIO-PERI                                  1
R THY BX BY MCARDLE RIGHT                                1
ORO FOREARM (AP & LAT) IN O.R. RIGHT IN O.R.             1
PPP ABDOMEN (LAT DECUB ONLY) PORT PORT PORT              1
OPL HAND (AP, LAT & OBLIQUE) IN O.R. PORT LEFT           1
OB KNEE (2 VIEWS) IN O.R. BILAT                          1
R MR CALF W & W/O CONTRAST RIGHT                         1
nurisng                                                  1
Cancelled Video Swallow                                  1
L FNA BRSEAST, THYROID OR PROSTATE LEFT                  1
MICU Attending Progress NOte                             1
MICU Attending Admit note                                1
Phone call to wife                                       1
R MRHAND W/O&W/CONTRAST RIGHT                            1
P OB F/U W/O MEASUREMENTS PORT                           1
Medication Confirmation                                  1
MAMMO NEEDLE LOC                                         1
discussion with daughter                                 1
OB F/U W/MEASUREMENTS                                    1
PL WRIST(3 + VIEWS) PORT LEFT                            1
PO CHEST (SINGLE VIEW) PORT IN O.R.                      1
FEMUR (AP & LAT)                                         1
Name: DESCRIPTION, Length: 3848, dtype: int64
Unique patient ids and their number of arrivals to the hospital are:
55672    1420
78076    1414
77614    1351
27427    1294
109      1279
99383    1277
30202    1247
20082    1094
67906    1083
6975     1073
23680    1054
65582    1029
31942    1012
3014     1010
80658     998
12613     986
15204     983
29035     978
25256     974
13033     974
7679      969
12578     969
862       959
21280     951
7917      925
517       912
22933     904
31260     904
73695     902
55094     900
         ...
1671        1
19519       1
32620       1
68353       1
31826       1
31543       1
13118       1
53568       1
25324       1
32567       1
51895       1
12229       1
82419       1
91887       1
32655       1
21387       1
67019       1
2875        1
9060        1
31914       1
85898       1
99183       1
40477       1
28144       1
30373       1
90566       1
82956       1
93193       1
7119        1
11393       1
Name: SUBJECT_ID, Length: 46146, dtype: int64

In [4]:
print("Number of unique patients:{}".format(len(note_df.SUBJECT_ID.unique())))
print("Number of patients who have visited the hospital only once:{}".format(note_df.shape[0]-len(note_df[note_df.duplicated(['SUBJECT_ID'],keep=False)])))

Number of unique patients:46146
Number of patients who have visited the hospital only once:167

In [5]:
#word counts
note_df['word_count'] = note_df['TEXT'].apply(lambda x: len(str(x).split(" ")))
note_df['word_count'].describe()

count    2.083180e+06
mean     3.829493e+02
std      6.170308e+02
min      1.000000e+00
25%      6.700000e+01
50%      1.950000e+02
75%      3.250000e+02
max      9.992000e+03
Name: word_count, dtype: float64

In [6]:
req_df=note_df[['SUBJECT_ID','CATEGORY','DESCRIPTION','TEXT']].copy()
req_df.to_csv('short_notes.csv',index=False)

In [7]:
req_df.head()

   SUBJECT_ID                        ...                                                                       TEXT
0       22532                        ...                          Admission Date:  [**2151-7-16**]       Dischar...
1       13702                        ...                          Admission Date:  [**2118-6-2**]       Discharg...
2       13702                        ...                          Admission Date:  [**2119-5-4**]              D...
3       13702                        ...                          Admission Date:  [**2124-7-21**]              ...
4       26880                        ...                          Admission Date:  [**2162-3-3**]              D...

[5 rows x 4 columns]

In [8]:
train_des = req_df['TEXT'].fillna("not available").values
train_subid=req_df['SUBJECT_ID'].values

In [9]:
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize 
#from nltk.stem import WordNetLemmatizer 
  
#lemmatizer = WordNetLemmatizer() 
stop_words = set(stopwords.words('english')) 

def data_clean(big_list):
    for i in range(len(big_list)):
        curr_string=big_list[i]
        curr_string=curr_string.lower()
        word_tokens = word_tokenize(curr_string)
        filtered_sentence = [] 
        for w in word_tokens: 
            if (w not in stop_words) and (w.isalpha()):
                #word=lemmatizer.lemmatize(w)
                filtered_sentence.append(w)
        big_list[i]=' '.join(filtered_sentence)
    return big_list

In [10]:
train_des=data_clean(train_des)